@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

body {

    background-image: linear-gradient(to right, #003166, #00a6ff, #003166) !important;
    font-family: 'Lato', sans-serif!important;
    color: #FFF !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {

    background-color: #00A6FF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    border-radius: .1rem;
    color: #FFF;
    font-size: 1.15rem;
    outline: none;
    transition: all .95s;
}

button:hover {

    box-shadow: rgba(54, 25, 66, 0.19) 0px 10px 20px, rgba(54, 25, 66, 0.23) 0px 6px 6px;
}

.header {

    background-color: rgba(0, 49, 102, .2);
}

.header a {

    text-decoration: none;
    width: 25%;
}

.header img {

    width: 30%;
}

.header h1 {

    color: #FFF;
    font-size: 3rem;
}

.fale-mais__texto {

    font-size: 1.15rem;
    text-align: justify;
}

.tabela-preco {

    background-color: #003166;
    border-radius: .25rem;
}

.tabela-preco table {

    margin: 0 !important;
}

.tabela-preco table tr th {

    width: 10%;
    color: #FFF;
}

.tabela-preco table tr td {

    color: #FFF;
}

.corpo-tabela tr:hover td{

    color: #FFF!important;
}

.formulario label {

    font-weight: bold;
    font-size: 1.05rem;
    margin: 1rem 0 .25rem 0;
    width: 100%;
}

.formulario select,
input {

    border: none;
    outline: none;
    padding: .75rem;
    width: 100%;
}

.botoes {

    width: 100%;
}

.input-tempo {
    border: solid 2px #c51244;
}

.border-red {

    border: 2px solid red !important;
}

.msg-erro {
    background: #003166 !important;
    border-radius: 0 !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    color: white;
    display: inline-block;
    font-size: 0.95rem;
    margin-top: 10px;
    opacity: 1;
    padding: 10px !important;
    position: relative;
    text-align: center;
    width: 40%;
}

.msg-erro:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute;
    top: -10px;
}

.resultado-consulta {

    border-radius: .25rem;
    background-color: #003166;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFF !important;
    text-align: center;
}

.resultado-consulta-sm {

    border-radius: .25rem;
    background-color: #003166;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFF !important;
    text-align: center;
}

.resultado-consulta-sm h3 {

    border-bottom: 1px solid white !important;
}

.resultado-consulta table tr th {

    width: 10%;
}

.resultado-consulta tr,
.resultado-consulta th {

    color: #FFF;
}

.cabecalho-tabelaPreco th {

    padding: 1.5rem 0 !important;
}

.corpo-tabelaPreco td {

    padding: 2.5rem 0 !important;
}

.corpo-tabelaPreco tr:hover td {

    color: #FFF!important;
}

.modal-content {

    background-color: #006ADE!important;
}

.modal-header h2 {

    margin: 0 auto;
    color: #FFF!important;
}

.modal-header button{

    background-color: #FFF;
    opacity: 1!important;
    left: 94.5%!important;
    position: absolute!important;
    width: 2%!important;
}

.modal-footer button {

    color: #000!important;
    background-color: #FFF!important;
}

.resultado-consulta-modal {

    border-radius: .25rem;
    background-color: #003166;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFF !important;
    text-align: center;
}

.resultado-consulta-modal table tr th {

    width: 10%;
}

.resultado-consulta-modal tr,
.resultado-consulta-modal th {

    color: #FFF;
}

.historico-consulta-sm {

    border-radius: .25rem;
    background-color: #003166;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFF !important;
    text-align: center;
}
